.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper>*{
    padding: 10px;
    margin: 10px;
    flex:  1 100%;
    border-radius: 5px;
}
.header{
    background-color: brown;
    height: 120px;
}
.footer{
    background-color: brown;
    height: 80px;
}
.main{
    text-align: left;
    background-color: rgb(0, 132, 255);
    height: 300px;
    font-size: 24px;
}
.lado1{
    background: rgb(241, 98, 2);
}
.lado2{
    background: rgb(0, 20, 1);
}

/* Aplica estilos especificamente para telas maiores que 800px */
@media all and (min-width: 800px) {
    /* Aumenta a flexibilidade da seção principal para ocupar mais espaço */
    .main {
        flex: 3;
        /* Altera a ordem de exibição da seção principal para ser exibida após lado1 e antes lado2 */
        order: 2;
    }
    /* Altera a ordem de exibição de lado1 para ser exibido antes da seção principal */
    .lado1 {
        order: 1;
    }
    /* Altera a ordem de exibição de lado2 para ser exibido após a seção principal */
    .lado2 {
        order: 3;
    }
    /* Altera a ordem de exibição do rodapé para ser exibido no final */
    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside{
        flex: 1;
    }
    
}
